

version: '2.1'

volumes:
    ros-bin: 

services:
  ros-core:
    image: cristidragomir97/ros-core
    environment: 
       - UDEV=1
       - ROS_HOSTNAME=ros-core
       - ROS_MASTER_URI=http://ros-core:11311
    links: 
      - ros-board
      - ros-io 
    ports:
      - "11311:11311"
    volumes:
      - ros-bin:/opt/ros/noetic

  ros-board:
    image: cristidragomir97/rosboard
    environment: 
       - ROS_HOSTNAME=ros-board
       - ROS_MASTER_URI=http://ros-core:11311
    ports:
      - "8888:8888"
    volumes:
      - ros-bin:/opt/ros/noetic

##############################################################################################
# robot-block is a hardware abstraction layer for I2C, UART and GPIO modules for the Raspberry Pi Eosystem
# Is creates all the required ROS handlers for your hardware based on a configuration file. 
# Long story short it's docker-compose for hardware
##############################################################################################
  ros-io:
    privileged: true
    build: .
    environment: 
       - UDEV=1
       - ROS_HOSTNAME=ros-io
       - ROS_MASTER_URI=http://ros-core:11311
       - CONFIG_REPO=https://github.com/cristidragomir97/ep1-rc-car
    volumes:
      - ros-bin:/opt/ros/noetic
    ports:
      - "8000:80"
      - "5000:5000"
    devices:
      - "/dev:/dev"

 # arduino-block: 
 #     image: cristidragomir97/arduino-block:latest
 #     privileged: true
 #     environment:
 #       - REPO=https://github.com/cristidragomir97/motorhead
 #       - SKETCH_FOLDER=/firmware
 #       - AVRDUDE_CPU=atmega328p
 #       - MONITOR_BAUD=9600
 #       - SERIAL_PORT=/dev/ttyUSB0
 #       - ARDUINO_FQBN=arduino:avr:pro:cpu=8MHzatmega328
 #     devices:
 #     - "/dev:/dev"
 #     labels:
 #       io.balena.features.dbus: '1'



